<div ng-controller="movieDetailsCtrl as movieDetails" i-movieDetails>
    <button ng-click="movieDetails.openSearch()">&larr; search again</button>

    {% include movieDetailsModule/partials/details.liquid %}
    {% include movieDetailsModule/partials/spinner.liquid %}
    {% include movieDetailsModule/partials/message.liquid %}
<div>
