/*******************************************************************************
movieDetails config
*******************************************************************************/

:root {
    --s-movieDetails-poster-w: 300px;
}

@custom-media --wideEnough (min-width: 500px);
@custom-media --notWideEnough (max-width: 499px);

/*******************************************************************************
movieDetails base
*******************************************************************************/

[i-movieDetails-wrapper] {
    position: relative;
    margin-top: var(--s-leading);
    margin-bottom: var(--s-leading);
}

@media (--notWideEnough) {
    [i-movieDetails-wrapper] {
        padding: calc(var(--s-leading) * 0.5);
    }
}

@media (--wideEnough) {
    [i-movieDetails-wrapper] {
        padding: var(--s-leading);
    }
}

/*******************************************************************************
movieDetails header
*******************************************************************************/

[i-movieDetails-header] {
    margin-bottom: var(--s-leading);
}

[i-movieDetails-title] {
    font-size: 250%;
    font-weight: 300;
    line-height: calc(var(--s-leading) * 2);
}

[i-movieDetails-metaInfo] {
    color: var(--c-silver);
}

[i-movieDetails-metaInfo]:not(:last-child)::after {
    content: " \2022";
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

/*******************************************************************************
movieDetails rating
*******************************************************************************/

[i-movieDetails-rating] {
    display: inline-block;
    float: right;
    margin-left: calc(var(--s-leading) * 0.5);
    border-radius: 50%;
    padding-top: calc(var(--s-leading) * 0.5);
    padding-bottom: calc(var(--s-leading) * 0.25);
    width: calc(var(--s-leading) * 2);
    height: calc(var(--s-leading) * 2);
    background-color: var(--c-gold);
    line-height: calc(var(--s-leading) * 0.5);
    text-align: center;
}

[i-movieDetails-ratingScore],
[i-movieDetails-ratingVotesCount] {
    display: block;
}

[i-movieDetails-ratingScore] {
    font-size: 125%;
    font-weight: 700;
    line-height: calc(var(--s-leading) * 0.75);
}

[i-movieDetails-ratingVotesCount] {
    font-size: 60%;
    font-weight: 300;
    line-height: calc(var(--s-leading) * 0.5);
}

/*******************************************************************************
movieDetails poster
*******************************************************************************/

[i-movieDetails-poster] {
    display: block;
    margin-bottom: var(--s-leading);
    margin-left: auto;
    margin-right: auto;
    border-radius: calc(var(--s-global-br) * 5);
    width: var(--s-movieDetails-poster-w);
    min-height: var(--s-leading);
    box-shadow: 0 0 0 0.0625rem color(var(--c-charcoal) alpha(15%));
    background: var(--c-silver);
}

/* display floated to right if there is a description next to it */
@media (--wideEnough) {
    [i-movieDetails~="hasPlot"] [i-movieDetails-poster] {
        float: right;
        margin-left: calc(var(--s-leading) * 0.5);
        margin-bottom: calc(var(--s-leading) * 0.5);
        max-width: 50%;
    }
}

/*******************************************************************************
movieDetails paragraph
*******************************************************************************/

[i-movieDetails-paragraph] {
    margin-bottom: var(--s-leading);
}

/*******************************************************************************
movieDetails table
*******************************************************************************/

[i-movieDetails-table] {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    text-align: left;
}

[i-movieDetails-table] th {
    font-weight: 700;
    text-align: inherit;
}

/* display as block-rows */
@media (--notWideEnough) {
    [i-movieDetails-table] tr,
    [i-movieDetails-table] td,
    [i-movieDetails-table] th {
        display: block;
    }

    [i-movieDetails-table] tr:not(:last-of-type) {
        margin-bottom: var(--s-leading);
    }
}

/* display as table */
@media (--wideEnough) {
    [i-movieDetails-table] td,
    [i-movieDetails-table] th {
        word-wrap: break-word;
    }

    [i-movieDetails-table] th {
        width: 7rem;
    }
}

/*******************************************************************************
movieDetails list
*******************************************************************************/

[i-movieDetails-list] {
    display: block;
    list-style: none;
}

[i-movieDetails-listItem] {
    display: inline;
}

[i-movieDetails-listItem]::after {
    content: ", ";
}

[i-movieDetails-listItem]:last-child::after {
    display: none;
}

[i-movieDetails-listItem]:nth-last-child(2)::after {
    content: " & ";
}

/* oxford comma */
[i-movieDetails-listItem]:nth-last-child(3) + [i-movieDetails-listItem]::after {
    content: ", & ";
}
