<div
    ng-controller="movieDetailsCtrl as movieDetails"
    i-movieDetails="[[movieDetails.movie.plot?'hasPlot':'']]"
>
    {% include movieDetailsModule/partials/header.liquid %}
    {% include movieDetailsModule/partials/details.liquid %}
    {% include movieDetailsModule/partials/spinner.liquid %}
    {% include movieDetailsModule/partials/message.liquid %}
</div>
