<div ng-controller="searchResultsCtrl as searchResults" i-searchResults>
    {% include searchResultsModule/partials/list.liquid %}
    {% include searchResultsModule/partials/spinner.liquid %}
    {% include searchResultsModule/partials/message.liquid %}
</div>
