<div
    ng-controller="searchResultsCtrl as searchResults"
    i-searchResults
>
    {% include searchResultsModule/partials/list.liquid %}
    {% include searchResultsModule/partials/message.liquid %}
    {% include searchResultsModule/partials/loadMore.liquid %}
    {% include searchResultsModule/partials/spinner.liquid %}
</div>
