<div
    i-card
    ng-repeat="result in searchResults.results track by result.movieId"
    ng-click="searchResults.openMovie(result)"
>
    <span i-text="semibold">[[ result.title ]]</span>
    <span i-text="75%">([[ result.year ]])</span>
</div>
