<div
    ng-controller="searchBoxCtrl as searchBox"
    i-header
>
    <input
        type="text"
        i-header-floater
        i-header-input
        js-searchBox-input
        placeholder="Search movie titles…"
        ng-model="searchBox.inputValue"
        ng-change="searchBox.onInputValueChange()"
        ng-keypress="searchBox.onInputKeypress($event)"
        ng-focus="searchBox.onInputFocus()"
        ng-blur="searchBox.onInputBlur()"
    >

    <button
        i-header-floater="righted"
        i-header-button
        ng-click="searchBox.clear();"
        ng-show="searchBox.inputValue"
        ng-cloak
    >
        <svg i-icon i-header-icon><use xlink:href="#symbol-coffin"></svg>
    </button>

    <div
        i-header-floater="righted"
        i-searchBox-lens
        ng-show="!searchBox.inputValue"
    >
        <svg i-icon i-header-icon><use xlink:href="#symbol-lens"></svg>
    </div>
</div>
