<div ng-controller="searchBoxCtrl as searchBox" i-searchBox>
    <svg i-searchBox-icon><use xlink:href="#symbol-eye"></svg>

    <input
        type="text"
        i-searchBox-input
        js-searchBox-input
        placeholder="Search movie titles…"
        ng-model="searchBox.inputValue"
        ng-change="searchBox.onInputValueChange()"
        ng-keypress="searchBox.onInputKeypress($event)"
        ng-focus="searchBox.onInputFocus()"
        ng-blur="searchBox.onInputBlur()"
    >

    <button
        i-searchBox-clearButton
        ng-click="searchBox.clear();"
        ng-show="searchBox.inputValue.length > 0"
        ng-cloak
    >&times;</button>
</div>
