<div ng-controller="searchBoxCtrl as searchBox">
    <svg><use xlink:href="#symbol-eye"></svg>

    <input
        type="text"
        js-searchBox-input
        placeholder="Search movie titles…"
        ng-model="searchBox.inputValue"
        ng-change="searchBox.onInputValueChange()"
        ng-keypress="searchBox.onInputKeypress($event)"
        ng-focus="searchBox.onInputFocus()"
        ng-blur="searchBox.onInputBlur()"
    >

    <button
        ng-click="searchBox.clear();"
        ng-show="searchBox.inputValue.length > 0"
    >&times;</button>
<div>
