<div ng-app="akabuskAppModule">
    <div ng-controller="viewsCtrl as views" ng-cloak>
        <section ng-show="views.isSearchViewVisible">
            {% include searchBoxModule/searchBox.liquid %}
            {% include searchResultsModule/searchResults.liquid %}
        </section>

        <section ng-show="views.isMoviesViewVisible">
            movie details
        <section>
    </div>
</div>
