<div ng-app="akabuskAppModule" i-area="medium">
    <div ng-controller="viewsCtrl as views" ng-cloak>
        <section ng-show="views.isSearchViewVisible">
            {% include searchBoxModule/searchBox.liquid %}
            {% include searchResultsModule/searchResults.liquid %}
        </section>

        <section ng-show="views.isMovieViewVisible">
            {% include movieDetailsModule/movieDetails.liquid %}
        <section>
    </div>

    <footer>
        <a href="{{site.rootSiteUrl}}">&copy; leszek</a>
    </footer>
</div>
