/*******************************************************************************
app styles aggregation
*******************************************************************************/

/* variables palette */
@import "variables.css";

/* basics */
@import "appSetup/reset.css";
@import "appSetup/root.css";
@import "appSetup/states.css";
@import "appSetup/typography.css";

/* all import rules */
@import "common/area.css";
@import "common/icon.css";
@import "common/input.css";
@import "common/text.css";
@import "searchBoxModule/searchBox.css";
@import "searchResultsModule/searchResults.css";
@import "movieDetailsModule/movieDetails.css";
