<div ng-app="fimderAppModule" i-area="medium">
    <div ng-controller="viewsCtrl as views" ng-cloak>
        <section ng-show="views.isSearchViewVisible">
            {% include searchBoxModule/searchBox.liquid %}
            {% include searchResultsModule/searchResults.liquid %}
        </section>

        <section ng-show="views.isMovieViewVisible">
            {% include movieDetailsModule/movieDetails.liquid %}
        <section>
    </div>

    <footer i-text="centered">
        <a i-iconLink href="{{site.rootSiteUrl}}">
            <svg i-icon="double" i-iconLink-icon >
                <use xlink:href="#symbol-sorrow">
            </svg>
        </a>
    </footer>
</div>
