/*******************************************************************************
app styles aggregation
*******************************************************************************/

/* variables palette */
@import "variables.css";

/* basics */
@import "appSetup/reset.css";
@import "appSetup/root.css";
@import "appSetup/states.css";

/* modules */
@import "common/area.css";
@import "common/card.css";
@import "common/header.css";
@import "common/icon.css";
@import "common/iconLink.css";
@import "common/text.css";
@import "searchBoxModule/searchBox.css";
@import "searchResultsModule/searchResults.css";
@import "movieDetailsModule/movieDetails.css";
