/*******************************************************************************
icon config
*******************************************************************************/

[i-icon] {
    display: inline-block;
    vertical-align: middle;
    width: var(--s-leading);
    height: var(--s-leading);
    color: inherit;
    shape-rendering: geometricPrecision;
    fill: currentColor;
}

/* bugfix for click target SVGElementInstance */
[i-icon] > * { pointer-events: none; }

/*******************************************************************************
icon sizes
*******************************************************************************/

[i-icon~="double"] {
    width: calc(var(--s-leading) * 2);
    height: calc(var(--s-leading) * 2);
}

[i-icon~="triple"] {
    width: calc(var(--s-leading) * 3);
    height: calc(var(--s-leading) * 3);
}

/*******************************************************************************
icon colors
*******************************************************************************/

[i-icon~="amaranth"] { fill: var(--c-amaranth); }
[i-icon~="white"] { fill: var(--c-white); }
[i-icon~="silver"] { fill: var(--c-silver); }

/*******************************************************************************
icon animations
*******************************************************************************/

@keyframes iconSpin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

[i-icon~="spinning"] {
    animation-name: iconSpin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0.25s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}
