/*******************************************************************************
iconLink module
*******************************************************************************/

[i-iconLink] {
    display: inline-block;
    cursor: pointer;
    background-image: none;
}

[i-iconLink]:not([disabled]):visited {
    color: inherit;
}

[i-iconLink]:not([disabled]):hover {
    color: var(--c-amaranth);
}

[i-iconLink]:not([disabled]):active [i-iconLink-icon] {
    transform: scale(0.9);
}
