{% comment %}
listData displays a list of given angular array items
{% endcomment %}
<ul i-movieDetails-list>
    <li
        i-movieDetails-listItem
        ng-repeat="item in {{ include.array }}"
        ng-bind="item"
    ></li>
</ul>
