<div i-card i-movieDetails-wrapper ng-show="movieDetails.isDetailsVisible">
    <header i-movieDetails-header>
        <figure i-movieDetails-rating>
            <span
                i-movieDetails-ratingScore
                ng-bind="movieDetails.movie.rating"
            ></span>

            <span
                i-movieDetails-ratingVotesCount
                ng-bind="movieDetails.movie.ratingVotes"
            ></span>
        </figure>

        <h1
            i-movieDetails-title
            ng-bind="movieDetails.movie.title"
        ></h1>

        <div>
            <time
                i-movieDetails-metaInfo
                datetime="[[movieDetails.movie.releaseDateFull]]"
                ng-bind="movieDetails.movie.releaseDate"
                ng-if="movieDetails.movie.releaseDate"
            ></time>

            <span
                i-movieDetails-metaInfo
                ng-if="movieDetails.movie.runtime"
                ng-bind="movieDetails.movie.runtime"
            ></span>
        </div>
    </header>

    <img
        ng-if="movieDetails.movie.hasPoster"
        i-movieDetails-poster
        ng-src="[[movieDetails.movie.poster]]"
        alt="[[movieDetails.movie.title]] poster"
    >

    <p i-movieDetails-paragraph ng-bind="movieDetails.movie.plot"></p>

    <table i-movieDetails-table>
        <tr ng-if="movieDetails.movie.awards">
            <th>Awards</th>
            <td ng-bind="movieDetails.movie.awards"></td>
        </tr>

        <tr ng-if="movieDetails.movie.genres">
            <th>Genres</th>
            <td>{% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.genres" %}</td>
        </tr>

        <tr ng-if="movieDetails.movie.languages">
            <th>Languages</th>
            <td>{% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.languages" %}</td>
        </tr>

        <tr ng-if="movieDetails.movie.countries">
            <th>Countries</th>
            <td>{% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.countries" %}</td>
        </tr>

        <tr ng-if="movieDetails.movie.directors">
            <th>Directors</th>
            <td>{% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.directors" %}</td>
        </tr>

        <tr ng-if="movieDetails.movie.writers">
            <th>Writers</th>
            <td>{% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.writers" %}</td>
        </tr>

        <tr ng-if="movieDetails.movie.actors">
            <th>Actors</th>
            <td>{% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.actors" %}</td>
        </tr>
    </table>
</div>
