<div ng-show="movieDetails.isDetailsVisible">
    <h1 ng-bind="movieDetails.movie.title"></h1>

    <time datetime="[[movieDetails.movie.releaseDateFull]]" ng-bind="movieDetails.movie.releaseDate"></time>

    <img
        i-movieDetails-poster
        ng-src="[[movieDetails.movie.poster]]"
        alt="[[movieDetails.movie.title]] poster"
    >

    <div ng-bind="movieDetails.movie.rating"></div>
    <div ng-bind="movieDetails.movie.ratingVotes"></div>

    <div ng-bind="movieDetails.movie.plot"></div>
    <div ng-bind="movieDetails.movie.awards"></div>

    <div ng-bind="movieDetails.movie.runtime"></div>

    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.genres" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.directors" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.writers" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.actors" %}

    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.languages" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.countries" %}
</div>
