<div i-card i-movieDetails-content ng-show="movieDetails.isDetailsVisible">
    <header>
        <h1
            i-movieDetails-title
            ng-bind="movieDetails.movie.title"
        ></h1>

        <time
            i-movieDetails-releaseDate
            datetime="[[movieDetails.movie.releaseDateFull]]"
            ng-bind="movieDetails.movie.releaseDate"
        ></time>
    </header>

    <div ng-bind="movieDetails.movie.runtime"></div>

    <img
        ng-if="movieDetails.movie.hasPoster"
        i-movieDetails-poster
        ng-src="[[movieDetails.movie.poster]]"
        alt="[[movieDetails.movie.title]] poster"
    >

    <div ng-bind="movieDetails.movie.rating"></div>
    <div ng-bind="movieDetails.movie.ratingVotes"></div>

    <p ng-bind="movieDetails.movie.plot"></p>
    <p ng-bind="movieDetails.movie.awards"></p>

    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.genres" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.directors" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.writers" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.actors" %}

    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.languages" %}
    {% include movieDetailsModule/partials/_detailsList.liquid array="movieDetails.movie.countries" %}
</div>
