<div i-header>
    <button
        i-header-floater
        i-header-button
        ng-click="movieDetails.openSearch()"
    >
        <svg i-icon i-header-icon><use xlink:href="#symbol-lens"></svg>
        Go to search
    </button>
</div>
